encode=json;
context=
{
    uniqueID:"352",
    name:"LauncherPlugin",
    targetPackage:["com.android.launcher"],
    version:1,
    pluginClass:["com.android.launcher.backup.backrestore.backup.LauncherBackupPlugin", "com.android.launcher.backup.backrestore.restore.LauncherRestorePlugin"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Layout",
    dataPattern:0
};